
.albumTitle {
font-weight: bold;    
}

.jumbotron {
    background: url("https://www.debaser.it/resize.aspx?path=/files/2008%2F24011.jpg&width=1200&crop=1&height=1200") center / cover no-repeat;
    color: aliceblue;
    
}